<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="fun.cyhgraph.mapper.DishMapper">

    <insert id="addDish" useGeneratedKeys="true" keyProperty="id">
        insert into dish (name, pic, detail, price, category_id, store_id, dish_scope, standard_dish_id, create_user, update_user, create_time, update_time)
        VALUES
        (#{name}, #{pic}, #{detail}, #{price}, #{categoryId}, #{storeId}, #{dishScope}, #{standardDishId},
         #{createUser}, #{updateUser}, #{createTime}, #{updateTime})
    </insert>

    <update id="update">
        update dish
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="pic != null">pic = #{pic},</if>
            <if test="detail != null">detail = #{detail},</if>
            <if test="price != null">price = #{price},</if>
            <if test="categoryId != null">category_id = #{categoryId},</if>
            <if test="storeId != null">store_id = #{storeId},</if>
            <if test="dishScope != null">dish_scope = #{dishScope},</if>
            <if test="standardDishId != null">standard_dish_id = #{standardDishId},</if>
            <if test="createUser != null">create_user = #{createUser},</if>
            <if test="updateUser != null">update_user = #{updateUser},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime}</if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteBatch">
        delete from dish where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
           #{id}
        </foreach>
    </delete>

    <select id="getPageList" resultType="fun.cyhgraph.entity.Dish">
        select * from dish
        <where>
            <if test="name != null and name != ''">
                and name like concat('%', #{name}, '%')
            </if>
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
    </select>

    <select id="getList" resultType="fun.cyhgraph.entity.Dish">
        select * from dish
        <where>
            <if test="name != null and name != ''">
                and name like concat('%', #{name}, '%')
            </if>
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>

    </select>

    <select id="getListByStoreAndCategory" resultType="fun.cyhgraph.entity.Dish">
        select d.*
        from dish d
        where d.category_id = #{categoryId}
          and d.status = 1
          and (
            (d.dish_scope = 1 or (d.dish_scope is null and d.store_id is null))
            or ((d.dish_scope = 2 or (d.dish_scope is null and d.store_id is not null)) and d.store_id = #{storeId})
          )
    </select>

    <select id="getAllStandardDish" resultType="fun.cyhgraph.entity.Dish">
        select * from dish
        where dish_scope = 1 or (dish_scope is null and store_id is null)
        order by id desc
    </select>

    <select id="getSpecialByStoreId" resultType="fun.cyhgraph.entity.Dish">
        select * from dish
        where store_id = #{storeId}
          and (dish_scope = 2 or (dish_scope is null and store_id is not null))
        order by id desc
    </select>

    <select id="countByScopedName" resultType="java.lang.Integer">
        select count(id)
        from dish
        where name = #{name}
        <if test="excludeId != null">
            and id != #{excludeId}
        </if>
        <if test="dishScope != null">
            and dish_scope = #{dishScope}
        </if>
        <if test="dishScope == 1">
            and store_id is null
        </if>
        <if test="dishScope == 2">
            and store_id = #{storeId}
        </if>
    </select>

</mapper>
