<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="fun.cyhgraph.mapper.OrderMapper">


    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into orders (number, status, user_id, order_time, checkout_time, pay_method, pay_status,
                            amount, origin_amount, coupon_amount, coupon_id, user_coupon_id,
                            remark, phone, address, user_name, consignee, cancel_reason, rejection_reason,
                            cancel_time, tableware_number, tableware_status, store_id, table_id, table_no, stock_deducted)
        VALUES (#{number}, #{status}, #{userId}, #{orderTime}, #{checkoutTime}, #{payMethod},
                #{payStatus}, #{amount}, #{originAmount}, #{couponAmount}, #{couponId}, #{userCouponId},
                #{remark}, #{phone}, #{address}, #{userName}, #{consignee}, #{cancelReason},
                #{rejectionReason}, #{cancelTime}, #{tablewareNumber}, #{tablewareStatus}, #{storeId}, #{tableId}, #{tableNo}, #{stockDeducted})
    </insert>

    <update id="update">
        update orders
        <set>
            <if test="cancelReason != null and cancelReason!='' ">
                cancel_reason=#{cancelReason},
            </if>
            <if test="rejectionReason != null and rejectionReason!='' ">
                rejection_reason=#{rejectionReason},
            </if>
            <if test="cancelTime != null">
                cancel_time=#{cancelTime},
            </if>
            <if test="payStatus != null">
                pay_status=#{payStatus},
            </if>
            <if test="payMethod != null">
                pay_method=#{payMethod},
            </if>
            <if test="checkoutTime != null">
                checkout_time=#{checkoutTime},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="storeId != null">
                store_id = #{storeId},
            </if>
            <if test="tableId != null">
                table_id = #{tableId},
            </if>
            <if test="tableNo != null and tableNo != ''">
                table_no = #{tableNo},
            </if>
            <if test="stockDeducted != null">
                stock_deducted = #{stockDeducted}
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="page" resultType="fun.cyhgraph.entity.Order">
        select o.*, s.name as store_name
        from orders o
                 left join store s on s.id = o.store_id
        <where>
            <if test="number != null and number!=''">
                and o.number like concat('%',#{number},'%')
            </if>
            <if test="phone != null and phone!=''">
                and o.phone like concat('%',#{phone},'%')
            </if>
            <if test="userId != null">
                and o.user_id = #{userId}
            </if>
            <if test="status != null">
                and o.status = #{status}
            </if>
            <if test="beginTime != null">
                and o.order_time &gt;= #{beginTime}
            </if>
            <if test="endTime != null">
                and o.order_time &lt;= #{endTime}
            </if>
        </where>
        order by o.order_time desc
    </select>

    <select id="sumByMap" resultType="java.lang.Double">
        select sum(amount) from orders
        <where>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="begin != null">
                and order_time &gt;= #{begin}
            </if>
            <if test="end != null">
                and order_time &lt;= #{end}
            </if>
        </where>
    </select>

    <select id="countByMap" resultType="java.lang.Integer">
        select count(id) from orders
        <where>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="begin != null">
                and order_time &gt;= #{begin}
            </if>
            <if test="end != null">
                and order_time &lt;= #{end}
            </if>
        </where>
    </select>

    <select id="getSalesTop10" resultType="fun.cyhgraph.dto.GoodsSalesDTO">
        select od.name name, sum(od.number) number from order_detail od, orders o
        where od.order_id = o.id and o.status = 5
        <if test="beginTime != null">
            and order_time &gt;= #{beginTime}
        </if>
        <if test="endTime != null">
            and order_time &lt;= #{endTime}
        </if>
        group by name
        order by number desc
        limit 0, 10
    </select>
</mapper>
