<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="fun.cyhgraph.mapper.UserMapper">

    <insert id="insert">
        insert into user (username, password, name, openid, phone, gender, id_number, pic, status,
                          is_member, member_level, member_expire_time, create_time, update_time) VALUES
        (#{username}, #{password}, #{name}, #{openid}, #{phone}, #{gender}, #{idNumber}, #{pic}, #{status},
         #{isMember}, #{memberLevel}, #{memberExpireTime}, #{createTime}, #{updateTime})
    </insert>

    <update id="update">
        update user
        <set>
            <if test="username != null">username = #{username},</if>
            <if test="password != null">password = #{password},</if>
            <if test="name != null">name = #{name},</if>
            <if test="gender != null">gender = #{gender},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="pic != null">pic = #{pic},</if>
            <if test="status != null">status = #{status},</if>
            <if test="isMember != null">is_member = #{isMember},</if>
            <if test="memberLevel != null">member_level = #{memberLevel},</if>
            <if test="memberExpireTime != null">member_expire_time = #{memberExpireTime},</if>
            <if test="updateTime != null">update_time = #{updateTime}</if>
        </set>
        where id = #{id}
    </update>

    <select id="pageMemberQuery" resultType="fun.cyhgraph.entity.User">
        select id, username, name, phone, status, is_member, member_level, member_expire_time, create_time, update_time
        from user
        <where>
            <if test="name != null and name != ''">
                and (name like concat('%', #{name}, '%')
                or username like concat('%', #{name}, '%'))
            </if>
            <if test="phone != null and phone != ''">
                and phone like concat('%', #{phone}, '%')
            </if>
            <if test="memberStatus != null and memberStatus == 1">
                and is_member = 1
                and member_level &gt; 0
                and (member_expire_time is null or member_expire_time &gt; #{now})
            </if>
            <if test="memberStatus != null and memberStatus == 0">
                and (
                is_member is null
                or is_member = 0
                or member_level is null
                or member_level &lt;= 0
                or (member_expire_time is not null and member_expire_time &lt;= #{now})
                )
            </if>
            <if test="memberStatus != null and memberStatus == 2">
                and is_member = 1
                and member_level &gt; 0
                and member_expire_time is not null
                and member_expire_time &lt;= #{now}
            </if>
        </where>
        order by id desc
    </select>

    <select id="pageAdminUser" resultType="fun.cyhgraph.entity.User">
        select id, username, name, phone, gender, status, is_member, member_level, member_expire_time, create_time, update_time
        from user
        <where>
            <if test="query != null and query.keyword != null and query.keyword != ''">
                and (name like concat('%', #{query.keyword}, '%')
                or username like concat('%', #{query.keyword}, '%'))
            </if>
            <if test="query != null and query.phone != null and query.phone != ''">
                and phone like concat('%', #{query.phone}, '%')
            </if>
            <if test="query != null and query.status != null">
                and status = #{query.status}
            </if>
            <if test="query != null and query.isMember != null and query.isMember == 1">
                and is_member = 1
                and member_level &gt; 0
                and (member_expire_time is null or member_expire_time &gt; #{now})
            </if>
            <if test="query != null and query.isMember != null and query.isMember == 0">
                and (
                is_member is null
                or is_member = 0
                or member_level is null
                or member_level &lt;= 0
                or (member_expire_time is not null and member_expire_time &lt;= #{now})
                )
            </if>
        </where>
        order by id desc
    </select>

    <update id="updateMemberInfo">
        update user
        set is_member = #{isMember},
            member_level = #{memberLevel},
            member_expire_time = #{memberExpireTime},
            update_time = #{updateTime}
        where id = #{userId}
    </update>

    <update id="updateUserStatus">
        update user
        set status = #{status},
            update_time = #{updateTime}
        where id = #{userId}
    </update>

    <select id="countByMap" resultType="java.lang.Integer">
        select count(id) from user
        <where>
            <if test="begin != null">
                and create_time &gt;= #{begin}
            </if>
            <if test="end != null">
                and create_time &lt;= #{end}
            </if>
        </where>;
    </select>

</mapper>
