<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="fun.cyhgraph.mapper.UserMapper">

    <insert id="insert">
        insert into user (username, password, name, openid, phone, gender, id_number, pic, status,
                          is_member, member_level, member_expire_time, create_time, update_time) VALUES
        (#{username}, #{password}, #{name}, #{openid}, #{phone}, #{gender}, #{idNumber}, #{pic}, #{status},
         #{isMember}, #{memberLevel}, #{memberExpireTime}, #{createTime}, #{updateTime})
    </insert>

    <update id="update">
        update user
        <set>
            <if test="username != null">username = #{username},</if>
            <if test="password != null">password = #{password},</if>
            <if test="name != null">name = #{name},</if>
            <if test="gender != null">gender = #{gender},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="pic != null">pic = #{pic},</if>
            <if test="status != null">status = #{status},</if>
            <if test="isMember != null">is_member = #{isMember},</if>
            <if test="memberLevel != null">member_level = #{memberLevel},</if>
            <if test="memberExpireTime != null">member_expire_time = #{memberExpireTime},</if>
            <if test="updateTime != null">update_time = #{updateTime}</if>
        </set>
        where id = #{id}
    </update>

    <select id="countByMap" resultType="java.lang.Integer">
        select count(id) from user
        <where>
            <if test="begin != null">
                and create_time &gt;= #{begin}
            </if>
            <if test="end != null">
                and create_time &lt;= #{end}
            </if>
        </where>;
    </select>

</mapper>
